body {
    width: 100%;
    margin: 50px auto;
}
.mainBox {
    width: 64%;
    margin: 0 auto;
}
.form-head {
    text-align: center;
}
.form-head h1 {
    margin: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    font-size: 40px;
    line-height: 50px;
    font-family: fantasy;
    font-weight: 500;
}
.form-head p {
    font-size: 18px;
    line-height: 28px;
    font-family: math;
    font-weight: 400;
}
.form-head h2 {
    font-size: 35px;
    line-height: 45px;
    font-family: fantasy;
    font-weight: 500;
}
.form-head h3 {
    margin: 0;
    font-size: 25px;
    line-height: 35px;
    font-family: math;
}
.form-head h4 {
    font-size: 20px;
    line-height: 30px;
    font-family: math;
}
.form-head img {
    width: 150px;
}
.form-step {
    background: #858080;
    text-align: center;
    /* padding: 20px; */
    margin-bottom: 20px;
}
.form-step span {
    font-size: 30px;
    line-height: 40px;
    color: #000;
    padding: 20px;
    display: inline-block;
}
form legend {
    font-size: 30px;
    line-height: 40px;
    font-family: fantasy;
    margin-bottom: 20px;
}
form label {
    font-size: 30px;
    line-height: 40px;
    font-family: fantasy;
}
form input {
    width: 95%;
    height: 50px;
    margin: 20px 0;
    padding: 0 20px;
}
.form-step span.first-step {
    background: #005f96c4;
    color: #fff;
}
form input.button {
    width: unset;
    margin: 0;
    padding: 0;
}